main p{padding: initial;}


.p1{font-size: 1.4rem;margin-top: 0;color:#1eacff;}
.desc{font-size: 1rem;font-weight:normal;color:#ffffff}
.b {
    padding: 25px;
    border: 3px solid #009dff;
    border-radius: 20px;
    background-color: #f6f5dd;
    max-height: 400px;
}
.b p{
    animation: none;
    opacity: 1;
    color: #2f2f2f;
    transform: scale(1);
}
.b h2{
    color: #1dd755;
}

.row{display: flex;flex-direction:row; justify-content: space-between;margin-bottom: 100px;}
.col{width:30%;transform: scale(0);animation: sct 1s linear forwards 1s;}

.p-check{
    font-weight: 400;
    font-size: 0.8rem;
    position: relative;
    left: 30px;
    margin-top: 0;
}

.check {
    color: #1dd755;
    position: absolute;
    margin-left: 3px;
    margin-top: 4px;
    width: 14px;
    height: 8px;
    border-bottom: solid 2px currentColor;
    border-left: solid 2px currentColor;
            transform: rotate(-45deg);
  }

.ch{margin: 30px 0 ;}

.zob{
    margin: 10px 0 0 30px ;
    font-size: 0.7rem ;
    color: #717171;
    cursor:pointer;
    font-weight: bold;
}


.col{align-self:center;}
.col button{
    width: 19vw;
    height: 50px;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
    background-color: #1dd755;
    color: #fafafa;
    font-weight: bold;
    font-family: 'quicksand',sans-serif;
    transition: 0.4s;
    margin-bottom: 10px;
}
.col button:hover{
    transform: scale(1.1);
}
button a{
    text-decoration: none;
    color: #fafafa;
}

@media (max-width: 1090px){
    .row{
        display: block;
    }
    .col{
        width: 70%;
        padding-bottom: 30px;
        margin: 0 auto 20px;
    }
    p{padding: 50px;}
}

@media (max-width: 880px){
    .p1{font-size: 5vw;}
    .desc{font-size: 3.5vw}
    .b h2{font-size:5vw;}
    .zob{font-size: 2.6vw;}
    .col button{margin-bottom:none}
    .p-check {font-size: 2.9vw}
    .ch{margin:20px 0}
    .b .p{margin-top: 30px}
    .col button {width: 54vw;}
    .image-grid{height: 58vw;}
    .image-grid img {width: 10px;}
}

