.container {
    display: flex;
    justify-content: space-between;
    color: white;
    margin-bottom: 80px;
  }
.container p{
    color: #333;
}

.container h2{
    margin: 0 0 30px;
}

  .contact-info {
    width: 48%;
    border-radius: 1rem;
    height: min-content;
  }
.contact-info a{text-decoration: none;color: #3b3b3b;}

  .contact-form {
    width: 48%;
    border-radius: 1rem;
  }
  .contact-form,.contact-info{
    padding: 50px;
    background-color: #addcd6;
    color: #3b3b3b;
  }
  
  .contact-form label {
    display: block;
    margin-bottom: 5px;
  }

  .contact-form input,
  .contact-form textarea,
  .contact-form select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: none;
    border-radius: 1rem;
    background-color: #333;
    color: #1dd755;
  }
  .contact-form input[type="submit"] {
    background-color: #1dd755;
    color: #333;
    cursor: pointer;
  }

  .contact-info p {
    display: flex;
    align-items: center;
    padding: 2%;
  }

  .contact-info svg {
    margin-right: 10px;
  }


  @media (max-width: 880px){
    .container{
        display: block;
    }
    .contact-info, .contact-form{
        width: 90%;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 30px;
    }
  }
