#map{
    height: 80vh;
    width: 80vw;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    overflow: hidden;
    background-color: rgb(5, 38, 42);
    position: relative;
}
#svg1 {
    float: none;
    position: relative;
    cursor: move;
}

.controls{display:flex;justify-content: center; margin-bottom: 70px;}
button{
    margin: 20px 5px;
    width: 30px;
    height: 30px;
    background-color: #0033ff;border: none;
    cursor: pointer;
}

.bod{
    fill: #00ff4c;
}


.h {
  animation: moveUpDown 1.3s ease-in-out infinite alternate;
  transform-origin: center;
}

@keyframes moveUpDown {
  0% {
      transform: translateY(0); 
  }
  100% {
      transform: translateY(3px);
  }
}

main p{padding: 0 10% 5%;color: #dbdbdb;font-weight: bold;width: 100%;margin-bottom: 30px;}

.pt h3{
  margin-bottom: 50px;
}

.location-image{cursor: pointer;}

#location-info{
  position: absolute;
  left: 20px;
  bottom: 20px;
  color: #0033ff;
  background-color: rgb(1, 25, 28);
}

@media (max-width: 880px){
  #map{height: 80vw;}
  .pt{padding: 40px;font-size: 4vw;}
}
