main{display: block;}

main h1 {text-align: center;
color: #30a2e4;
width: 50%;
margin: 0 auto 10%;
padding: 4% 8%;
background-color: #00000038;
border-radius: 4em;
border: 2px solid #00a2ff;
}

main p{padding: 0 10% 5%;color: #dbdbdb;font-weight: bold;width: 100%;}
main .ns{margin-bottom: 100px;}
main img{margin-bottom: 0;position: relative;top: 0.7vh;}

@media (max-width: 880px){
    main h1{margin-top: 80px;width: 80%}
    .ns{padding: 10%;}
}
